%table.table.table-hover.table-condensed
  %tr
    %th 
    %th Leave
    %th Arrive
    %th Duration
    %th Stops
    %th Airline                  
  %tbody
    - colum = 2 + rand(3)
    - 1.upto(colum) do
      %tr.text-info
        %td 
          %label.radio
            %input#optionsRadios1{:name => "optionsRadios", :type => "radio", :value => "option1"}
        %td         
          = (Time.now + 3600*rand(10)).strftime("at %I:%M%p")  
        %td 
          = (Time.now + 3600*rand(10)).strftime("at %I:%M%p")  
        %td 
          = "#{2 + rand(16)} hours"          
        %td 
          = rand(5)  
        %td
          - airlines = {:aeromexico => "Aeromexico", :air_europa => "Air Europa", :air_france => "Air Franse", :delta => "Delta", :iberia => "Iberia",
                        :klm => "KLM", :lufthansa => "Luftansa", :united_airlines => "United Airlines", :us_airways => "US Airways"}                        
          - key = rand 9              
          = image_tag "airlines/#{airlines.keys[key]}.png"                        
          = airlines.values[key]        
